<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <title>MTG - tester</title>

  </head>
  
  <body>

    <div id="">

      <header>
	<h1>Magic</h1>
      </header>

      <!-- <script src="../../test/vendor/json2.js"></script> -->
      <!-- <script src="../../test/vendor/jquery.js"></script> -->
      <script src="../../test/vendor/underscore.js"></script>
      <script src="../../backbone.js"></script>
      <!-- <script src="../backbone.localStorage.js"></script> -->
      <!-- <script src="main.js"></script> -->
      <!-- Templates
      <script type="text/template" id="item-template">
	-->

    <!--   <div class="view"> -->
    <!-- 	<input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> /> -->
    <!-- 	<label><%- title %></label> -->
    <!-- 	<a class="destroy"></a> -->
    <!--   </div> -->
    <!--   <input class="edit" type="text" value="<%- title %>" /> -->

    <!-- </script> -->
    
    <!-- <script type="text/template" id="stats-template"> -->
    <!--   <% if (done) { %> -->
    <!--   <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a> -->
    <!--   <% } %> -->
    <!--   <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div> -->
    <!-- </script> -->
  </body>
</html>